# Виртуальные окружения
venv/
.venv/
env/
ENV/

# Кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Настройки сред разработки
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Файлы моделей ИИ (не выгружаем веса на гит)
*.h5
*.pkl
